@media screen and (max-width:768px){
.header-images{
    float: none;
}
.menu{
    float: none;
}
.menu ul li{
    display: block;
    padding: 2px;
    background:rgba(28, 28, 28, 0.96);
    font-weight: 300;
    font-size: 17px;
    text-align: center;
}
.menu ul li:hover{
    background: #2a2a2a;
}
.menu ul{
    margin: 0px;
}
.wrap-container{
    width: 90%;
}
.header{
    height: 50px;
    background-image: linear-gradient(rgba(0,0,0,1) , rgba(0,0,0,0.7));
}
.header-images .brand-image{
    width: 140px;
    height: 30px;
    padding: 10px 20px;
}
.menu-btn{
    display: block;
}
.menu{
    display: none;
}
    .wrapper-content h1{
        font-size: 30px;
    }
    .learn-btn{
        padding: 2px 25px;
        font-size: 18px;
    }
    
    
    
    .div-box{
        float: none;
        text-align: center;
        width: 100%;
    }
    
    .service-container{
        box-shadow: none;
        position: static;
        width: 100%;
    }
    
    
    
    .contact-us h1{
        margin-bottom: 0px;
    }
    .contact-image{
        float: none;
        width: 100%;
        text-align: center;
    }
    .contact-image img{
        width: 50%;
    }
    .contact-form{
        float: none;
        width: 100%;
        text-align: center;
    }
    .contact-form input{
        width: 100%;
        margin-bottom: 10px;
    }
    .contact-form .subject{
        width: 100%;
    }
    .contact-form .submit{
        width: 70%;
        padding: 8px 30px;
    }
    
    
    .footer .widgets{
        font-family: sans-serif;
        width: 100%;
        min-height: auto;
        padding: 2.5% 0px;
        float: none;
    }
    .footer .widgets .subscribe-text{
        width: 95%;
    }
    .footer .main-footer p{
        font-size: 13px;
    }
}


@media screen and (max-width:320px){
    .wrapper-content{
        padding-top: 15%;
        padding-bottom: 15%;
    }
    .wrapper-content h1{
        font-size: 26px;
    }
    .about-us p{
        line-height: 2;
        font-size: 13px;
    }
}